{% extends 'base.html' %}

{% block title %} Password Change {% endblock %}
{% block content %}
<div class="container py-5 px-5 mx-auto">
	<form method="post">{% csrf_token %}
		<h2 class="h3 mb-3 fw-normal">Change Password </h2>
		{% for field in form %}
		<p>
			{% for error in field.errors %}
			<p class="mx-auto" style="color:red">{{ error }}</p>
			{% endfor %}
		</p>
		{% endfor %}
		

		<div class="form-floating py-2 ">
			<input type="password" name="old_password" class="form-control" id="id_old_password" required="true">
			
      <label for="floatingInput">Old password</label>
		</div>
		<div class="form-floating py-2 ">
			<input type="password" name="new_password1" class="form-control" id="id_new_password1" required="true">
		
			<label for="floatingInput">New Password</label>
		</div>
    <div class="form-floating py-2 ">
			<input type="password" name="new_password2" class="form-control" id="id_new_password2" required="true">
		
			<label for="floatingInput">Confirm Password</label>
		</div>

		<button class="w-100 btn btn-lg btn-primary" type="submit">Update</button>
	
	  </form>
	</div>



{% endblock %}