{% extends 'base.html' %}

{% block title %} Password Reset {% endblock %}
{% block content %}

{% if validlink %}
<div class="container py-5 px-5 mx-auto">
	<form method="post">{% csrf_token %}
		<h2 class="h3 mb-3 fw-normal">Reset Password </h2>
		{% for field in form %}
		<p>
			{% for error in field.errors %}
			<p class="mx-auto" style="color:red">{{ error }}</p>
			{% endfor %}
		</p>
		{% endfor %}
		

		<div class="form-floating py-2 ">
            {% if form.new_password1.errors  %}
			<p class="mx-auto" style="color:red">{{ form.new_password1.errors }}</p>
			{% endif %}
			<input type="password" name="new_password1" class="form-control" required="true" id="id_new_password1" >
		
			<label for="floatingInput">New Password</label>
		</div>
        <div class="form-floating py-2 ">
            {% if form.new_password2.errors  %}
			<p class="mx-auto" style="color:red">{{ form.new_password2.errors  }}</p>
			{% endif %}
			<input type="password" name="new_password2" class="form-control" required="true" id="id_new_password2" >
		
			<label for="floatingInput">Confirm Password</label>
		</div>

		<button class="w-100 btn btn-lg btn-primary" type="submit">Change my password</button>
	
	  </form>
	</div>
{% else %}

    <p>The password reset link was invalid, possibly because it has already been used.Please request a new password reset.</p>

{% endif %}



{% endblock %}



