{% extends 'base.html' %}


{% block content %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">CodingWithLatte</h1>
    <p class="fs-5 text-muted">"You lose one and win some"</p>
  </div>
<div class="container">
    <div class="d-flex flex-column">
   
        <h1>Registered Users</h1>
        {# doig loops in django template #}
        <ul>
            {% for account in accounts %}
            <li>{% include "personal/snippets/body_snippets.html" with value=account %}</li>
            {% endfor%}
        </ul>
    </div>
</div>

{% endblock content %}