{% extends 'base.html' %}

{% block title %} Account {% endblock %}
{% block content %}
<div class="container py-5 px-5 mx-auto">
	<form method="post">{% csrf_token %}
		<h2 class="h3 mb-3 fw-normal">Update User Details </h2>
		{% for field in account_form %}
		<p>
			{% for error in field.errors %}
			<p class="mx-auto" style="color:red">{{ error }}</p>
			{% endfor %}
		</p>
		{% endfor %}
		
		{% if account_form.non_field_errors %}
			<div style="color:red">
				<p class="mx-auto">{{account_form.non_field_errors}}</p>
			</div>
		{% endif %}

		<div class="form-floating py-2 ">
			<input type="email" name="email" required autofocus value={{account_form.initial.email}} class="form-control" id="{{account_form.email.id_for_label}}" >
			<label for="floatingInput">Email address</label>
		  </div>
		<div class="form-floating py-2 ">
			<input type="text" name="username" class="form-control" id="{{account_form.username.id_for_label}}" required autofocus value={{account_form.initial.username}}>
		
			<label for="floatingInput">Username</label>
		</div>
		{% if success_message%}
		<div style="color:green" id='update'>
			<p class="mx-auto">{{success_message}}</p>
		</div>
		{% endif %}
		<button class="w-100 btn btn-lg btn-primary" type="submit">Update</button>
	
	  </form>
	  <div class="my-2 mx-auto">
		<a class="m-auto" href="{% url 'password_change' %}">Change Password</a>
	  </div>

	</div>


{% endblock content %}