{% extends 'base.html' %}


{% block content %}


<h2>Login</h2>
<form method="post">{% csrf_token %}

	<small style="color: grey;">{{loginform.help_text}}</small>
	<div class="form-floating">
		{% if loginform.email.errors %}
			<ol>
			{% for error in loginform.email.errors %}
				<li><strong>{{ error|escape }}</strong></li>
			{% endfor %}
			</ol>
		{% endif %}
		<label for="{{loginform.email.id_for_label}}">Email address</label>
		{{loginform.email}}
	</div>
	<div class="form-floating">

		<p style="color: red;">{{ logiform.password.errors }}</p>
		<label for="{{loginform.password.id_for_label}}">Password</label>
		{{loginform.password}}
	</div>

	<button type="submit">Login</button>
	
</form>


{% endblock content %}